@import "../../index.scss";
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


.welcome {
    // background: $mainBlack;
   
    background: -webkit-linear-gradient(rgb(247, 202, 4), rgb(218, 127, 8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    
  display:flex;
  font-size: 80px;
  flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Satisfy', cursive;
    border: solid;
    margin-top: 3rem ;
    position: absolute;
    
  


}



.button {
    background-color: rgb(14, 127, 179); /* Green */
    border-radius: 8px ;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 50;

  }
