@import "../../index.scss";
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');



.containerHome{
  text-align:center;
  background-image: url(./homeimg/italynight.jpg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;

}

.welcome {
    // background: $mainBlack;
   
    background: -webkit-linear-gradient(rgb(5, 156, 13), rgb(231, 226, 221), rgb(247, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:flex;
    font-size: 160px;
    position: relative;
    top: 200px;
    flex-direction: column;
    text-align: center;
    font-family: 'Satisfy', cursive;
    border: none;
}

.slogan {
  // background: $mainBlack;
 
  background: -webkit-linear-gradient(rgb(245, 209, 51), rgb(235, 138, 11), rgb(253, 101, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display:flex;
  font-size: 80px;
  position: relative;
  top: 40px;
  flex-direction: column;
  text-align: center;
  font-family: 'Satisfy', cursive;
  border: none;
}




.button {
    background-color: rgb(37, 37, 37); /* Green */
    border-radius: 8px ;
    color: $mainGreen;
    padding: 10px 20px 10px 20px;
    text-align: center;
    position: relative;
    top: 20rem;
    text-decoration: none;
    font-size: 32px;
    
    

  }