@import "../../index.scss";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Luxurious+Roman&display=swap");

.tour {
  background: $mainT; /*changed this*/
  margin: 2rem 0;
  /* added border-radius, border, border-shadow*/
  border-radius: 0px 15px;
  border: 2px double rgba(255, 255, 255, 0.75);
  box-shadow: 2px 4px 8px rgb(65, 62, 62);
  img {
    width: 100%;
    display: block;
    min-height: 13rem;
  }
}
@media screen and (min-width: 768px) {
  .tour {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 1rem;
  }
}
.img-container {
  position: relative;
}
.close-btn {
  position: absolute;
  display: block;
  top: 5%;
  right: 5%;
  color: $mainPurple;
  font-size: 2rem;
  cursor: pointer;
  transition: $mainTransition;
  opacity: 0;
}
.img-container:hover .close-btn {
  opacity: 1;
}
.tour-info {
  padding: 1rem 0.5rem;
  h3 {
    text-transform: uppercase;
    color: $mainPurple;
  }
  h4 {
    /*added font-family*/
    font-family: "Luxurious Roman", cursive;
    text-transform: capitalize;
    margin: 0.2rem 0 0.6rem 0;
  }
  h5 {
    text-transform: capitalize;
    span {
      color: $mainPurple;
      margin: 0.5rem;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
